nav {
    background-color: #161616!important;
    border-bottom: 1px solid #6f6f6f;
    opacity: 0.5;
}

nav a {
    opacity: 1;
}

body {
    background-color: #161616!important;
}
.note {
    font-size: 80%;
    display: block;
    color: #dbdbdb;
    background-color: #282828;
    overflow-x: hidden;
    word-wrap: break-word;
    border-radius: 5px;
    border-left: 4px solid #6f6f6f;
    margin-bottom: 10px;
    margin-top: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%; 
}

.note::before {
    content: 'ⓘ NOTE: ';
    font-weight: bold;
    
  }

  code, pre  {
    background-color: #282828 !important;
  }

