p, li, ol {
    color: #e2e2e2 !important;
}

nav {
    background-color: #1c1c1c!important;
    border-bottom: 0.5px solid #505050;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px);
    
}

footer {
    background-color: #1c1c1c!important;
    border-top: 0.5px solid #505050;
}

.nx-bg-transparent {
    background-color: #1c1c1c!important;
    z-index: 2;
    max-width: 100% !important;

}

.nx-max-w-\[90rem\] {
    max-width: 100% !important;
}

body {
    background-color: #1c1c1c!important;
}

:is(html[class~=dark] .dark\:nx-bg-dark) {
    background-color: #1c1c1c!important;
    box-shadow: none !important;
}

:is([dir=ltr] .ltr\:-nx-mr-4) {
    background-color: #1c1c1c!important;
}

.note {
    font-size: 80%;
    display: block;
    color: #dbdbdb;
    background-color: #282828;
    overflow-x: hidden;
    word-wrap: break-word;
    border-radius: 5px;
    border-left: 4px solid #6f6f6f;
    margin-bottom: 10px;
    margin-top: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%; 
}

.note::before {
    content: 'ⓘ NOTE: ';
    font-weight: bold;
    
  }

  code, pre  {
    background-color: #282828 !important;
  }

